*{margin: 0;padding: 0;}
#header{
    background-color: rgb(34, 33, 33);
    height: 60px;
    padding:20px;
    border-bottom: 5px solid orange;
}
#header h2{
    color: rgb(223, 219, 219);
    font-weight: bold;
    font-size: 50px;
    margin-left: 60px;
    font-style: italic;
    margin-top: 0px;
}
#header p{
    color:wheat;
    margin-left: 70px;
    font-size: 17px;
    font-style: italic;
}
#nav{
    background-color: beige;
    height: 38px;
    border-bottom:  5px solid orange;
}
#nav ul{
    background-color: beige;
   list-style-type: none;
}
#nav ul li{
    float: left;
    border-right: 2px solid black;

}
#nav ul li{
    position: relative;
}
#nav ul li ul {
    position:absolute;
    left:-999999px;
    background-color: rgb(248, 252, 255);
    border-radius: 8px;
}

#nav ul li a {
    text-decoration: none;
    color:red;
    display: block;
    padding:10px 20px;
}
#nav ul li a:hover{
    color:blue;
}

}
#nav ul li ul {
    position:absolute;
    left:-999999px;
    background-color: aliceblue;
    
}
#nav ul li:hover ul{
    left:0;
}
#nav ul li ul li{
    float: none;
    border-bottom:2px solid black;
    border-right:2px solid black;
    border-left: 2px solid black; 
    width: 130px;
    
}
#nav ul li ul li:first-child
{
    border-top: 2px solid black;
}
#slider img{
    width: 1353px;
    height: 400px;
    border-bottom: 5px solid orange;
}
#footer{
    background-color: rgb(77, 55, 42);
    padding: 10px;
    text-align: center;
}
#footer p{
    color: aliceblue;
    font-size: 22px;
}
#wrapper{
    background-color: aliceblue;
    padding: 10px;
    overflow: hidden;

}
#content{
    width: 500px;
    margin-right: 400px;
    float: left;

}
#content h2{
    color: rgb(216, 134, 40);
    padding: 10px;
    margin-left: 10px;
}
#sidebar{
    width: 400px;
    float: left;
}
#sidebar ul{
    list-style-type:circle;
}
#sidebar ul li a{
    text-decoration: none;
    color:black;
	padding:10px;
}